*{
    margin: 0;
    padding: 0;
    font-family: 'Inter';
}
.btn-primary{
    background: #FF5959;
    border-radius: 5px;
    padding: 14px 12px;
    gap: 8px;
    border: none;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
}
/* Header style*/
header{
    
    background-image: url(../images/donation5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.header-title{
    text-align: center;
    padding: 174px 307px 250px 307px;
}
.title{
    text-align: center;
    font-weight: 700;
    font-size: 45px;
    color: #FFFFFF;
}
.sub-title{
    padding: 20px;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
}
/* main donate section style*/
.donate-today{
    
    text-align: center;
}
.donate-title{
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    padding-bottom: 20px;
}
.donate-description{
    text-align: center;
    color: #707070;
    font-size: 18px;
    font-weight: 400;
    padding: 0 180px 50px 180px;
}
.btn{
    padding: 45px 25px;
    background-color: aqua;
    border-radius: 5px;
    border: none;
    color: #707070;
    text-align: center;
    font-weight: 700;
    font-size: 30px;
}
.amount{
    text-align: center;
    color: #B3B3B3;
    font-weight: 400;
    font-size: 18px;
    padding-top: 60px;
    padding-bottom: 10px;
}
hr{
    margin: 0 250px;
    margin-bottom: 30px;
}
/* our donate plan style*/
.our-donate{
    margin: 0 200px;
    text-align: center;
}
.our-donate-title{
    font-weight: 700;
    font-size: 40px;
    padding-bottom: 20px;
    margin-top: 120px;
}
.our-donate-description{
    text-align: center;
    color: #707070;
    font-size: 18px;
    font-weight: 400;
    padding: 0 180px 50px 180px;
}
/*plan card style*/
.plan-container{
    display: flex;
    gap: 24px;
}
.plan-one{
    background: rgba(79, 157, 166, 0.1);
    border-radius: 5px;
    padding: 20px;
}
.plan-two{
    background: rgba(255, 89, 89, 0.1);
    border-radius: 5px;
    padding: 20px;
}
.plan-third{
    background: #FFF4D6;
    border-radius: 5px;
    padding: 20px;
}
.plan-title{
    font-style: normal;
    font-weight: 600;
    color: #121212;
}
.plan-description{
    color: #707070;
    font-weight: 400;
    font-size: 16px;
}
/*About style*/
.about{
    display: flex;
    margin: 0 200px;
    gap: 83px;
    margin-top: 130px ;
}
.img-about{
    width: 400px;
    height: 420px;
    
}
.about-title{
    font-weight: 700;
font-size: 45px;
color: #121212;

}
.about-description{
    font-weight: 400;
font-size: 18px;
color: #707070;
padding: 20px 0;
}
.about-sub-description{
    font-weight: 400;
font-size: 18px;
color: #707070;
padding-bottom: 20px;
}
/*update style*/
.update{
    margin: 100px 100px 20px 100px;
    text-align: center;
    padding: 0 100px;
}
.button-email{
    width: 809px;
    height: 200px;
    background: #FFF4D6;
}
.button-email{
    display: flex;
    text-align: center;
}
.anotherbox{
    margin: 0px auto;
    width: 80%;
    height: 270px;
    background-color: #FFF4D6;
    display: flex;
    align-items: center;
    justify-content: center;
}
.em{
    padding: 14px 15px;
    height: 22px;
    width: 200px;
    z-index: 1;
    border: 0;
    background-color: #FFFFFF;
}
/* Footer start */
.footer{
    height: 200px;
    width: 80%;
    margin: 0 auto;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.bh{
    font-family: 'Dancing Script', cursive;
    color: tomato;
    font-weight: bold;
    font-size: 35px;
}
.ig{
    margin-top: 30px;
    color: white;
}
/* Footer End */